.css-4itc0x-MuiButtonBase-root-MuiButton-root {
    border-style: dashed !important;
    border-color: black !important;
    color: black !important;
}

.css-4itc0x-MuiButtonBase-root-MuiButton-root:hover {
    border-color: black !important;
    border-style: dashed !important;
}

.modal-close-button {
    background-color: transparent !important;
    color: rgb(158, 158, 158) !important;
    margin: 0 !important;
    // padding: 0 !important;
}

.modal-close-button:hover {
    background-color: #fff !important;
    color: rgb(158, 158, 158) !important;
    margin: 0 !important;
}

.css-1w91pid-MuiButtonBase-root-MuiButton-root:hover {
    background-color: gray !important;
}

.delete-modal-button {
    background-color: gray !important;
}

.delete-modal-button:hover {
    background-color: gray !important;
}