.sidebar-content-container {
  width: 100%;
}

.box {
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
}

.sidebar-dropdown {
  position: relative;
  // width: 110px;
  height: 80px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  // @media #{$xs} {
  //   padding: 8px;
  //   height: 40px;
  // }
  // @media #{$smob-ss} {
  //   font-size: 15px;
  //   height: 45px;
  //   padding:8px;
  // }
}
.tooltip-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.user-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.items {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar-dropdown:hover .items,
.items  {
  display: block;
  opacity: 1;
  visibility: visible;
}

.sidebar-dropdown .left-icon,
.sidebar-dropdown .right-icon {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 2px;
  background: #000000;
  border-radius: 40px;
  transition: 0.09s;
  left: 1px;
  // @media #{$xs} {
  //   width: 12px;
  // }
}

.sidebar-dropdown .left-icon {
  left: 5px;
  transform: rotate(45deg);
}

.sidebar-dropdown.active .left-icon {
  transform: rotate(135deg);
}

.sidebar-dropdown .right-icon {
  transform: rotate(-45deg);
}

.sidebar-dropdown.active .right-icon {
  transform: rotate(-135deg);
}

.sidebar-dropdown .items {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 220px;
  height: auto;
  margin-top: 80px;
  overflow: hidden;
  visibility: hidden;
  border: 1px solid var(--tp-border-input);
  border-top: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #000000;
  opacity: 0;
  visibility: hidden;
}

.sidebar-dropdown.active .items {
  visibility: visible;
}

.sidebar-dropdown .items span {
  position: relative;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  text-decoration: none;
  margin-top: 2.5px;
  z-index: 1;
  overflow: hidden;
  padding: 10px 12px;
}

.sidebar-dropdown .items span:hover {
  // color: #08162e;
  // text-decoration: dotted;
}

.sidebar-drawericon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-right: 16px;
}

.activate-sidebaricon {
  margin-left: -5px;
}

// .MuiBox-root .css-43tmfd{
//   width: "15%"
// }